<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/header-footer.css">
	<link rel="stylesheet" href="/stylesheets/login-register.css">
	<link rel="stylesheet" href="/stylesheets/dashboard.css">
	<title>Spend Tracker</title>
</head>
<body>
	<div id="page-container">
		<nav>
			<div class="nav-container">
				<div class="branding">
					Spend Tracker
				</div>
				<% 	if (page === "dashboard") { %>
					<div class="nav-elements-right">
						<div class="date-selector">
							<select name="month-filter" id="spend-month-selector">
								<% if(typeof monthRange === "string"){ %>
									<option value=""><%= monthRange %></option>
								<% } else if (Array.isArray(monthRange)) {
									monthRange.forEach(month => { %>
										<option value="<%= month.date%>" <%= month.selected ? "selected" : "" %>><%= month.text %></option>
								<% });
								} else { %>
									<option value="">Something went wrong</option>
								<% } %>
							</select>
						</div>
						<div class="profile">
							<ul>
								<li><%= userName %></li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</div>
					</div>
				<% } %>
			</div>	
		</nav>

	
	
	
